:root {
  --color-bg: #4a412a;
  --card-bg: #322b1c;
  --red: #8b1e1e;
  --purple: #7a5c89;
  --white: #e8e3d9;
  --green: #5c8974;
  --font-headers: "Oswald", sans-serif;
  --font-main: "Roboto Mono", monospace;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--white);
}

h1,
h2,
.h2 {
  font-family: var(--font-headers);
  color: var(--white);
  font-weight: bold;
  padding-top: 24 px; /* Будь ласка, якщо не конче треба, не чіпайте цей рядок або якщо вже змінили то скажіть мені, бо у мене тоді хедер на мобілці поїде*/
}

p {
  font-family: var(--font-main);
}
