:root {
  --color-bg: #4a412a;
  --red: #8b1e1e;
  --purple: #7a5c89;
  --white: #e8e3d9;
  --green: #5c8974;
  --font-headers: Oswald;
  --font-main: Roboto Mono;
}

.nav {
  background-color: var(--color-bg);
}

.nav label {
  display: none;
}

.nav ul {
  display: none;
}

#burger-toggle {
  display: none;
}

@media (max-width: 784px) {
  .nav label {
    display: block;
    position: relative;
    height: 25px;
    width: 30px;
    cursor: pointer;
  }

  .nav label::after,
  .nav label::before,
  .nav label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transition: 0.3s;
  }

  .nav label::before {
    content: "";
    top: 0;
  }

  .nav label::after {
    content: "";
    bottom: 0;
  }

  .nav label span {
    top: 10px;
  }

  #burger-toggle:checked ~ label::after {
    transform: rotate(45deg);
    bottom: 10px;
  }

  #burger-toggle:checked ~ label::before {
    transform: rotate(45deg);
    top: 12px;
  }

  #burger-toggle:checked ~ label span {
    transform: rotate(-45deg);
    top: 12px;
  }

  .nav ul {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--color-bg);
    padding-top: 100px;
    z-index: -1;
    flex-direction: column;
    text-align: center;
    top: -100vh;
    bottom: 100vh;
    transition: 0.5s;
  }

  #burger-toggle:checked ~ ul {
    top: 144px;
    bottom: 0;
  }
}
