footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px 16px 32px;
  position: relative;
}

/* Текст зліва */
.left-footer {
  font-family: var(--font-main);
  font-size: 8px;
  text-align: left;
}

/* Текст справа */
.right-footer {
  font-family: var(--font-main);
  font-size: 8px;
  text-align: right;
}

/* Лівий куточок */
footer::before {
  content: "";
  position: absolute;
  left: 24px;
  bottom: 8px;
  width: 14px;
  height: 18px;
  border-left: 2px solid var(--purple);
  border-bottom: 2px solid var(--purple);
}

/* Правий куточок */
footer::after {
  content: "";
  position: absolute;
  right: 24px;
  bottom: 8px;
  width: 14px;
  height: 18px;
  border-right: 2px solid var(--purple);
  border-bottom: 2px solid var(--purple);
}

@media (min-width: 1440px) {
  footer {
    margin: 0 80px;
  }

  footer::before {
    margin: 0 -40px;
  }

  footer::after {
    margin: 0 -40px;
  }
}