@import url(../base.css);
@import url(../reset.css);

a {
    text-decoration: none;
    color: inherit;
}

/* Градієнт на фоні */
body .page-services::before {
  content: "";
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 350px;
  border-radius: 50%;
  background-color: #4a5d4e;
  filter: blur(100px);
  opacity: 0.6;
  z-index: -1;
  pointer-events: none;
}

main {
  padding: 0 32px 0 32px;
  position: relative;
}

/* Зелений текст над заголовком */
main .text-over-title {
  color: var(--green);
  font-size: 14px;
  font-weight: bold;
  padding-top: 38px;
  margin: 0;
}

main h1 {
  font-size: 39px;
  margin-top: 0;
  margin-bottom: 17px;
}

/* Карточки арсеналу послуг */
.cards {
  display: grid;
  gap: 10px;
}

.card {
  background-color: var(--card-bg);
  min-height: 122px;
  margin-bottom: 0;
  position: relative;
}

.line {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 2;
}

.red-line {
  background-color: var(--red);
}
.purple-line {
  background-color: var(--purple);
}
.green-line {
  background-color: var(--green);
}

.card h2 {
  padding: 16px 28px 0 28px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.card p {
  padding: 0 28px 0 28px;
  font-size: 14px;
}

/* Лінія між секціями */
main .section-divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #322b1c;
  margin: 19px 0 14px 0;
}

/* Секція з екстренним реагуванням та аудитом безпеки */

.actions {
  display: grid;
  gap: 10px;
}

.action {
  display: flex;
  flex-direction: column;
}

.action .button {
  margin-top: auto;
}

/* Налаштування кольорів заголовків під карточками */
main .h2 {
  font-size: 24px;
}

main .red {
  color: var(--red);
  margin-bottom: 8px;
}

main .purple {
  color: var(--purple);
  margin: 0 0 8px 0;
}

main p {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Кнопки */
main .button {
  display: block;
  width: 100%;
  height: 50px;
  font-family: var(--font-headers);
  font-weight: bold;
  color: var(--white);
  font-size: 14px;
  text-align: center;
}

main .red-button {
  background-color: var(--red);
}
main .purple-button {
  background-color: var(--purple);
}

main .make-pact {
  background-color: var(--red);
  font-family: var(--font-headers);
  font-size: 24px;
  height: 70px;
}

main .pricelist {
  display: block;
  width: 85%;
  margin: 24px auto 0 auto;
  border: 1px solid var(--white);
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  padding: 16px 20px;
  text-align: center;
}

@media (min-width: 785px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    gap: 10px 20px;
  }

  .actions {
    grid-template-columns: 1fr 1fr;
    gap: 405px;
  }

  main .make-pact {
    width: 50%;
    margin: 0 auto;
  }

  main .pricelist {
    width: 40%;
    margin: 24px auto 0 auto;
  }
}

@media (min-width: 1440px) {
  main {
    margin: 0 80px;
  }
}
